.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
  padding: 8px 10px;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 5px 0 0 5px;
  font-size: 0.8rem;
  outline: none;
  background-color: transparent;
  color: var(--md-sys-color-secondary);
  letter-spacing: 1.2px;
  transition: border 0.3s ease-in-out;
}

.search-input:focus-visible {
  border: 3px solid var(--md-sys-color-primary);
}

.search-btn {
  font-size: calc(0.8rem + 5px);
  padding: 6px;
  border-radius: 0 5px 5px 0;
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface-container-high);
  cursor: pointer;
  outline: none;
  border: none;
}
